.details-container{
display:flex;
gap:10px;
align-items:center;
}

.para-container{
margin-bottom:0;

font-weight:500;
}

.para-container1{
margin-top:0;
}

.app-container{
display:flex;
gap:50px;
}

.leave-container{
text-align:left;

background-color:#e2e0e0;

padding:5px40px;

width:800px;

margin-left:0px;

margin-right:0px;
}

.balance-container{
width:200px;

position:relative;

right:80px;
}

.leave-data-container{
display:flex;

align-items:center;
gap:50px;
}

.from-date-container,
.to-date-container{
display:flex;
align-items:center;

gap:10px;

margin-bottom:20px;
}

.from-select-container{
height:20px;
width:55px;

text-align:center;
}

.to-select-container{
height:20px;

width:55px;
text-align:center;
}

.days-container{
display:flex;

gap:10px;

margin-bottom:20px;
}

.days-select-container{
height:30px;

width:80px;

text-align:center;
}

.leavetype-container{
display:flex;

gap:10px;
margin-bottom:20px;
}

.leave-select-container{
height:30px;

width:160px;

text-align:center;
}

.reason-container{
display:flex;
}

.button-container{
display:flex;

justify-content:space-evenly;
margin-top:10px;
}

.primary-button{
background-color:blue;

color:white;

padding:10px40px;

border-radius:5px;

border-color:blue;

cursor:pointer;
}

.secondary-button{
background-color:white;
color:blue;

padding:10px60px;

border-radius:5px;

border-color:blue;

cursor:pointer;
}

.unlist-container{
list-style-type:none;

padding-left:0;
}

.list-para{
margin-bottom:0;

margin-left:0;
}

.list-para1{
margin-top:0;

margin-left:0;
}

.leaves-from{
margin-left:0px;

position:relative;

right:20px;
}

.calendar-container{
position:relative;

right:20px;
}
